
[Desktop Entry]
Name=Connect-To Indicator
Comment=Connect-To Indicator Applet
Exec=__FILE_DIR__/connect-to_indicator.py
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
